{% assign posts=site.posts | where:"lang", page.lang | where:"layout", "post"%}

<!-- Main -->
<div id="main">
  <section>
    {% for post in posts  %}
    <header class="major">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <section>
      {{ post.content | truncatewords:post.truncate}}<br>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Read More</a></li>
      </ul>
    </section>
    {% endfor %}
  </section>

</div>
