<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <!--[if lte IE 8]>
    <script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.poptrox.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/style-xlarge.css"/>
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/ie/v8.css"/><![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <link rel="stylesheet" href="/css/languageswitch.css"/>

</head>
<body>

<header id="header">
    <div class="navigation">
        <nav class="nav">
            <ul>
                {% for menu in site.data.navigation[page.lang] %}
                <li><a href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>
                {% endfor %}
            </ul>

            <div class="flag-switch" data-first-lang="EN" data-second-lang="IT">
                <input type="checkbox" id="check1" checked>
                <label for="check1"></label>
            </div>
            {% assign posts=site.posts | where:"date", page.date | sort: 'path' %}
            <script>
                (function () {
                    var linkIta = '{{posts[0].url}}',
                     linkEng = '{{posts[1].url}}',
                     origin = $(location)[0].origin,
                     currentLang = '{{page.lang}}';

                    if(currentLang === 'en'){
                        $('#check1').prop('checked', true);
                    }else{
                        $('#check1').prop('checked', false);
                    }

                    $('.flag-switch').change(function () {
                        if ($('#check1').is(':checked')) {
                            $(location).attr('href', origin + linkIta);
                        } else {
                            $(location).attr('href', origin + linkEng);
                        }
                    });

                })();
            </script>
        </nav>
    </div>
    <div class="medescription">
        <a href="#" class="image avatar"><img src="{{ site.avatar }}" alt="Eugenio Romano underwater"/></a>

        <h1><strong>I am <a href="/">{{ site.name }}</a></strong><br/>
            Java/Javascript Clean coder<br/>
            I am full stack developer in Alfresco<br/></h1>
    </div>

</header>
<!-- fork ribon -->
<div class="github-fork-ribbon--container">
    <a href="https://github.com/{{ site.footer-links.github }}">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub">
    </a>
</div>

{{ content }}

<!-- Footer -->
<footer id="footer">

    {% include footer.html %}

</footer>

{% include analytics.html %}
</body>

</html>
